# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# Environment variables (SENSITIVE)
# =========================
.env

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Database (por si usas local)
# =========================
*.sqlite3

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/

# =========================
# Custom (tu proyecto)
# =========================
lib/